#jwe-scroll-container
{

}

#jwe-emulator-workspace-container
{
  background-color: #878a8d;
  padding: 10px;
}

#jwe-emulator-workspace
{
  border: 2px solid #504F61; 
  background-image: url('chrome://transit-emulator/skin/images/jil-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  background-color: black;
  z-index: 101;
}

#jwe-emulator-container
{
  position:absolute;
  z-index: 100;
  height: auto;
  width: auto;
}

#jwe-emulator-container-drag-handle
{
  float: right;
  cursor: move;
  display: none;
  height: 20px;
  width: 20px;
  background-image: url('chrome://transit-emulator/skin/images/drag-handle.png');
}

#jwe-emulator-title
{
  margin-top: 5px;
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
}

#jwe-emulator-widget-press-start
{
  color: red;
}

#jwe-emulator-version
{
  color: #000000;
  font-size: 1em;
}

#jwe-emulator-tab-container
{
  margin: 10px;
}



/* ---- experimental ----*/
#jwe-emulator-tools-container
{
  background-color: #B8BBC0;
}

#jwe-emulator-tools-box
{
  margin-top: -1px;
}

#jwe-emulator-tools-bar
{
  padding: 5px;
}

.jwe-widget-icon
{
  width: 50px;
}

.jwe-emulator-tools-panel
{
  margin: 15px;
  padding: 10px;
  border: 1px solid #504F61;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow-y: auto;
  background-color: #EEEEEE;
}
/* ---- experimental ----*/




#jwe-emulator-content
{
  position: absolute;
  cursor: auto;
  overflow: auto;
}

#jwe-emulator-reload
{
  margin: 10px;
}

.jwe-emulator-tab
{
  padding-left: 10px; 
  padding-right: 10px;
}

.jwe-emulator-events-panel
{
  padding-bottom: 50px;
}

.jwe-emulator-general-settings-panel
{
  width: 98%;
  margin: 5px;
  height: 450px;
  padding: 10px;
  border: 1px solid #666666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow-y: auto;
}

.runtime-dialog-bg
{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1101;
  padding: 10px;
  background-image: url('chrome://transit-emulator/skin/images/border-bg-darker.png');
}

.runtime-dialog-container
{
  position: relative;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  -moz-border-radius: 10px;
  padding: 5px;
} 

.runtime-dialog-title-bar
{
  background-color: #AEAEAE;
  height: 35px;
  -moz-border-radius: 10px;
  position: relative;
}

.runtime-dialog-title
{
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: bold;
  padding: 6px 0px 0px 0px;
  position: relative;
}

.runtime-dialog-button
{
  position: absolute;
  background-color: #EDEDED;
  -moz-border-radius: 10px;
  color: #777777;
  height: 35px; 
  font-size: 1.5em;
  font-weight: bold;
  padding: 6px;
  margin: 3px;
  cursor: pointer;
}

.runtime-dialog-body
{
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

/** Manage Profile Window Styles **/

.jwe-profiles-panel-container
{
  width: 600px;
}

#jwe-profiles-content
{
  vertical-align: middle;
  padding: 10px;
}

.jwe-profiles-buttons
{
  padding: 5px;
}

.jwe-profiles-inner-panel
{
  height: 450px;
  margin: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border: 2px solid #666666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow-y: auto;
}

groupbox
{
  width: 95%;
}

groupbox caption
{
  font-weight: bold;
}

.jwe-profiles-defaults-key
{
  width: 16em;
}

.jwe-profiles-defaults-row
{
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #999999;
  margin-right: 10px;
}